.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  border: 1px solid #aaa;
  margin: 0;
  padding: 10px;
  list-style: none;
}


.user-list-head {
  font-size: 20px;
  font-weight: 800;
}

.nav-list{
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: larger;
  font-weight: 800;
}