*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{
     width: 300px;
     border: 3px solid black;
     border-radius: 15px;
     margin: 10px;
     text-align: center;
     padding:10px;
     background-color: rgb(182, 180, 180);
}
.parent  img{
       width: 280px;
       border-radius: 15px;
       padding: 10px;
}

ul{
  list-style: none;
}

.h{
  text-align: center;
}